@import '../../../variables';
.users-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 24px;
      color: $black;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
    }
    
    .cta {
      display: flex;
      gap: 0.5rem;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        width: max-content;
        height: 42px;
        padding: 0 1rem;
        font-size: 14px;
        font-weight: 500;
        line-height: 180%;

        &#export-csv {
          background: none;
          color: $primarycolor-100;
          border: 1px solid $primarycolor-100;
        }
      }
    }
  }

  .filter-container {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    display: flex;
    border-radius: 5px;
    background: var(--Background-Body-light, #fbfbfd);

    .search {
      display: flex;

      input {
        padding: 0 1.5rem;
        height: 48px;
        background: transparent;
        border: 1px solid $stroke;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        width: 100%;
        min-width: 310px;
        font-size: 14px;
        font-weight: 400;
      }
      button {
        border-radius: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .filter {
      margin-left: 40px;
      display: flex;
      align-items: center;
      white-space: nowrap;
      width: 100%;
      max-width: max-content;

      .label {
        min-width: max-content;
      }
      select {
        margin-left: 0.5rem;
        background: transparent;
        border: 1px solid $stroke;
        border-radius: 8px;
        height: 48px;
        width: 100%;
        min-width: 320px;
        padding: 0 1.5rem;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
