@import '../../../variables';

.add-new-user-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .title {
    h3 {
      font-size: 24px;
      color: $black;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
    }
  }

  .tab-container {
    margin-top: 2.5rem;

    .tabs {
      display: flex;
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;

      .tab-button {
        padding: 10px 24px;
        font-size: 16px;
        font-weight: 500;
        color: $text-400;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: color 0.3s;
        border-radius: 0;

        &.active {
          color: $primarycolor-100;
          font-weight: bold;
          border-bottom: 2px solid $primarycolor-100;
        }

        &:hover {
          color: $primarycolor-100;
        }
      }
    }

    .tab-content {
      padding: 2rem;
      border-radius: 5px;
      background: $background;
      max-width: 650px;
      margin: 1.5rem auto;

      .form-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .permission-input {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          color: $text-200;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 180%;

          input[type='checkbox'] {
            width: 20px;
            height: 20px;
            cursor: pointer;
            appearance: none;
            border: 2px solid $stroke;
            border-radius: 4px;
            position: relative;
            outline: none;
            &:checked {
              background-color: $primarycolor-100 !important;
              border-color: $primarycolor-100 !important;
              &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff !important;
              }
            }
          }
        }

        .form-input {
          display: flex;
          flex-direction: column;

          label {
            color: $label;
            font-size: 14px;
            line-height: 28.8px;
            font-weight: 600;
          }
          select {
            height: 44px;
            border: 1px solid $stroke;
            border-radius: 5px;
            background: #fcfcfc;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            padding: 0 1rem;
            margin-top: 0.5rem;
            cursor: pointer;

            &:hover {
              border: 1px solid #767676;
            }
            &::placeholder {
              color: $placeholder;
            }
          }
        }

        .form-cta {
          margin-top: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          #cancel {
            color: var(--Text-Color-400, #8a8988);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 180%;
            text-decoration-line: underline;
          }
          #save {
            height: 45px;
            border-radius: 4px;
            background: var(--Primary-Color-100, #010066);
            padding: 12px 24px;
            color: $white-100;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            cursor: pointer;
            margin-left: auto;
          }
        }
      }
    }
  }
}
