@import '../../../_variables';
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 100%;
    position: relative;

    .close-button {
      position: absolute;
      top: 2.5rem;
      right: 1rem;
      cursor: pointer;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      background: $state-100;
      max-width: 32px;
      height: 32px;
      overflow: hidden;
    }
    .modal-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2rem 0;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        max-width: 32px;
        height: 32px;
        overflow: hidden;
      }
    }

    .description {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;

      textarea {
        margin-top: 0.5rem;
        border: 1px solid #dadada;
        padding: 1rem;
        border-radius: 4px;
        font-family: 'Inter', sans-serif;
      }
    }

    .permissions {
      margin-top: 1rem;

      .permission-action {
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
      }
    }

    #submit {
      margin-top: 1.5rem;
    }
  }
}
