@import "../../../variables";

* {
  outline: none;
}

.form_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  label {
    color: $label;
    font-size: 14px;
    line-height: 28.8px;
    font-weight: 600;

    span {
      color: $primarycolor-400;
    }
  }

  div {
    position: relative;

    input {
      border: 1px solid $stroke;
      padding: 10px 1rem;
      border-radius: 4px;
      font-size: 1rem;
      font-weight: 400;
      color: $label;
      width: 100%;

      &:hover {
        border: 1px solid #767676;
      }

      &:focus {
        border: 1px solid $primarycolor-100;
      }

      &::placeholder {
        color: $placeholder;
        font-weight: 400;
        font-size: 14px;
      }

      &.error {
        border: 2px solid red;

        :focus {
          border: 2px solid red;
        }
      }
    }

    .currency {
      position: absolute;
      top: 2px;
      right: 1.5px;
      background: #f9f9f9;
      width: 48px;
      height: calc(100% - 4px);
      border-left: 0.5px solid $stroke;
      border-radius: 4px;
    }

    img {
      position: absolute;
      right: 14.5px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  p {
    color: red;
    margin-top: 2px;
    font-size: 11px;
  }
}
