body {
  background-color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 16px;
}

h3 {
  font-size: 1.5rem;
  line-height: 31.2px;
  font-weight: bold;
}

p {
  font-size: 16px;
  font-weight: normal;
}

.suspended-sales-container {
  padding: 40px 24px 20px 31px;
}
.suspended-sales-container .warning {
  margin-top: 16px;
  border: 0.5px solid #ffc300;
  border-radius: 5px;
  background-color: #fffcf4;
  padding: 7px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.suspended-sales-container .warning .information {
  display: flex;
  align-items: center;
  gap: 12px;
}
.suspended-sales-container .warning .information p {
  color: #3c3b39;
  font-size: 14px;
  font-weight: 500;
}
.suspended-sales-container .warning button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  color: #010066;
}
.suspended-sales-container .warning button p {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  line-height: 25.2px;
}
.suspended-sales-container .filters {
  margin-top: 32px;
  border: 1px transparent;
  border-radius: 5px;
  background-color: #fbfbfd;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.suspended-sales-container .filters .main {
  display: flex;
  align-items: center;
  gap: 40px;
}
.suspended-sales-container .filters .main .search-trans {
  position: relative;
  width: 350px;
  height: 50px;
}
.suspended-sales-container .filters .main .search-trans input {
  border: 0.5px solid #dadada;
  border-radius: 8px;
  padding: 12px 0px 12px 12px;
  color: #636260;
  height: 48px;
  width: 100%;
  font-size: 14px;
}
.suspended-sales-container .filters .main .search-trans button {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #010066;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suspended-sales-container .filters .main .search-trans button svg {
  color: #ffffff;
}
.suspended-sales-container .filters .filter-trans {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
.suspended-sales-container .filters .filter-trans label {
  color: #3c3b39;
  font-weight: 500;
}
.suspended-sales-container .filters .filter-trans select {
  width: 300px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  border: 0.5px solid #dadada;
  border-radius: 8px;
  padding: 12px 16px;
  font-weight: 400;
}
.suspended-sales-container .filters .filter-trans svg {
  position: absolute;
  right: 16px;
}
.suspended-sales-container .filters .more-filter {
  width: -moz-fit-content;
  width: fit-content;
  background: none;
  border: none;
  color: #010066;
  display: flex;
  align-items: center;
  gap: 8px;
}
.suspended-sales-container .filters .more-filter p {
  text-decoration: underline;
}
.suspended-sales-container table {
  margin-top: 24px;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.suspended-sales-container table th div {
  color: #3c3b39;
  display: flex;
  align-items: center;
  gap: 4px;
}
.suspended-sales-container table td {
  font-size: 14px;
  color: #151411;
}
.suspended-sales-container table td.items-list {
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.suspended-sales-container table td .action {
  display: flex;
  align-items: center;
  gap: 24px;
}
.suspended-sales-container .pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.suspended-sales-container .pagination p {
  color: #636260;
  font-size: 14px;
}
.suspended-sales-container .pagination p span {
  color: #000000;
  font-weight: 500;
}
.suspended-sales-container .pagination div {
  display: flex;
  align-items: center;
}
.suspended-sales-container .pagination div button {
  padding: 10px 10px;
  margin: 0 1px;
  background: none;
  color: #8a8988;
}
.suspended-sales-container .pagination div button.active {
  background-color: #010066;
  color: #ffffff;
}/*# sourceMappingURL=suspended-sales.css.map */