@import '../../../variables';
.form-container {
  .permission-category {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $stroke;

    .category-header {
      display: flex;
      justify-content: space-between;
      flex-basis: 70%;
      // gap: 4rem;

      span {
        width: 100%;
        color: $text-100;
        font-weight: 600;
      }
      .select-all {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: auto;
        // margin-right: auto;
        gap: 12px;
        width: 100%;
        // flex-basis: 65%;

        input {
          margin: 0 !important;
        }
        label {
          margin: 0 !important;
          color: $text-300;
          text-align: right;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    .category-actions {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: start;
      flex-basis: 50%;
      align-items: flex-start;

      .permission-action {
        display: flex;
        gap: 1rem;

        label {
          color: $text-300;
          text-align: right;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }

  .default-role {
    display: flex;
    gap: 12px;
  }
}
