@import "../../../variables";

.reset-password {
  .container {
    margin-top: 6.125rem;
    margin-left: 7%;
    // margin-right: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1024px) {
      margin-right: 5%;
      margin-left: 5%;
    }

    .reset-password {
      width: 40%;

      @media (max-width: 1024px) {
        width: 60%;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .home-image {
      max-width: 100%;
      text-align: right;
      overflow-x: hidden;

      img {
        height: 90vh;
        object-fit: contain;
      }
    }

    .heading {
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        margin-top: 2rem;
      }
      p {
        margin-top: 4px;
      }
    }

    form {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      button {
        margin-top: 2rem;
      }
    }
  }
}
